/* line 1, ../../app/styles/main.scss */
td-cards {
  display: block;
}

/* line 5, ../../app/styles/main.scss */
td-card {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
}

/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/
/* line 38, ../../app/styles/main.scss */
tdcard {
  margin-bottom: 20px;
}

/* line 41, ../../app/styles/main.scss */
.testbox {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 20px;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 360px;
}

/* line 52, ../../app/styles/main.scss */
td-card .image {
  position: relative;
}

/* line 56, ../../app/styles/main.scss */
td-card .card-image {
  max-width: 100%;
  width: 100%;
  border-radius: 6px;
}

/* line 62, ../../app/styles/main.scss */
.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #28a54c;
  background-color: white;
  opacity: 0;
  padding: 5px;
  border: 5px solid #28a54c;
}

/* line 75, ../../app/styles/main.scss */
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #ff7373;
  background-color: white;
  opacity: 0;
  padding: 5px;
  border: 5px solid #ff7373;
}

/* line 88, ../../app/styles/main.scss */
.fade {
  transition: 0.2s opacity linear;
  opacity: 1;
}
