<ion-view view-title="Setting">
    <ion-content class="padding">
        <ul class="list">
            <li class="item item-toggle">
                Wheelchair Accessible only
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="checkboxModel.value" ng-change="log()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <button class="button button-block button-assertive" ng-click="clearAll()"> Clear All</button>
        <div>
            <a href="https://thenounproject.com/search/?q=star&i=47905">icons by: Julien Deveaux</a>
            
        </div>
    </ion-content>
</ion-view>
